<% provide(:title, @sequencing.run) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @sequencing.run %>
      </h1>
      <% if @sequencing.completed_on.nil? %>
        <h2>Uncompleted</h2>
        <%= form_for(@sequencing, url: {action: "mark_as_completed"}) do |f| %>
          <%= f.submit "Mark as Completed", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <h2>
          <%= format_date(@sequencing.completed_on) %>
        </h2>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <%= form_for(@experiment) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.hidden_field :sequencing_id, :value => @sequencing.id %>
      <%= f.text_field :name, placeholder: "Name your experiment..." %>
      <%= f.submit "Create Experiment", class: "btn btn-large btn-primary" %>
    <% end %>
    <% if @sequencing.experiments.any? %>
      <h3>Experiments (<%= @sequencing.experiments.count %>)</h3>
      <ol class="experiments">
        <%= render @sequencing.experiments %>
      </ol>
    <% end %>
  </div>
</div>