<% provide(:title, @sequencing.run) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= @sequencing.run %>
      </h1>
      <% if @sequencing.completed_on.nil? %>
        <h2>Uncompleted</h2>
        <%= form_for(@sequencing, url: {action: "mark_as_completed"}) do |f| %>
          <%= f.submit "Mark as Completed", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <h2>
          <%= format_date(@sequencing.completed_on) %>
        </h2>
      <% end %>
    </section>
  </aside>
  <div class="span9">
      
    
    <% if @sequencing.libraries.any? %>
      <h3>Libraries (<%= @sequencing.libraries.count %>)</h3>
      <p>
        Download metadata:
        <%= link_to "TXT", sequencing_path(@sequencing.id, format: "txt") %> | 
        <%= link_to "Excel", sequencing_path(@sequencing.id, format: "xlsx") %>
      </p>
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Researcher</th>
            <th>Barcode (<span class="mid">MID</span> + <span class="primer">Primer</span>)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'libraries/sequencing_library',
            collection: @sequencing.libraries.order("id DESC"), as: 'library' %>
        </tbody>
      </table>
    <% end %>
    <%= link_to "Create New Library", new_library_path(sequencing_id: @sequencing.id), class: "btn btn-large btn-primary" %>
  </div>
</div>