<% provide(:title, @sequencing.run) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @sequencing.run %>
      </h1>
      <% if @sequencing.completed_on.nil? %>
        <h2>Uncompleted</h2>
        <%= form_for(@sequencing, url: {action: "mark_as_completed"}) do |f| %>
          <%= f.submit "Mark as Completed", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <h2>
          <%= format_date(@sequencing.completed_on) %>
        </h2>
      <% end %>
    </section>
  </aside>
  <div class="span8">
      <%= link_to "Create New Experiment", new_experiment_path(sequencing_id: @sequencing.id), class: "btn btn-large btn-primary" %>
    
    <% if @sequencing.experiments.any? %>
      <h3>Experiments (<%= @sequencing.experiments.count %>)</h3>
      <ol class="experiments">
        <%= render @sequencing.experiments %>
      </ol>
    <% end %>
  </div>
</div>