<% provide(:title, @sequencing.run) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @sequencing.run %>
      </h1>
      <% if @sequencing.completed_on.nil? %>
        <h2>Uncompleted</h2>
        <%= form_for(@sequencing, url: {action: "mark_as_completed"}) do |f| %>
          <%= f.submit "Mark as Completed", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <h2>
          <%= format_date(@sequencing.completed_on) %>
        </h2>
      <% end %>
    </section>
  </aside>
  <div class="span8">
      
    
    <% if @sequencing.experiments.any? %>
      <h3>Experiments (<%= @sequencing.experiments.count %>)</h3>
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Researcher</th>
            <th>Barcode (<span class="mid">MID</span> + <span class="primer">Primer</span>)</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'experiments/sequencing_experiment',
            collection: @sequencing.experiments, as: 'experiment' %>
        </tbody>
      </table>
    <% end %>
    <%= link_to "Create New Experiment", new_experiment_path(sequencing_id: @sequencing.id), class: "btn btn-large btn-primary" %>
  </div>
</div>