<% provide(:title, "New Experiment") %>
<h1>Create New Experiment in <%= @sequencing.run %></h1>
<%= form_for(@experiment) do |f| %>
  <%= f.hidden_field :sequencing_id, :value => @experiment.sequencing.id %>
  <%= render 'experiment_fields', f: f %>
  <div class="row">
    <div class="center">
      <%= f.submit "Create Experiment", class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
<h2>OR</h2>
<h1>Import Experiments from Spreadsheet</h1>

<%= form_for(@experiment_import) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :sequencing_id, :value => @experiment.sequencing.id %>
  <div class="center">
    <%= f.file_field :file, class: "filestyle", 'data-classButton' => "btn btn-file", 'data-buttonText' => "Select file" %>

  </div>

  <div class="row center">
    <%= f.submit "Import Experiments", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
