<% provide(:title, "New Experiment") %>
<%= form_for(@experiment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :sequencing_id, :value => @sequencing.id %>
  <div class="row">
    <div class="span4 offset4">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Name your experiment..." %>
    </div>
  </div>
  <div class="span3 offset2">
      <%= f.label :assembly %>
      <%= f.select :assembly, options_for_select(%w[mm9 hg19]) %>
      <%= f.label :brkchr %>
      <%= f.text_field :brkchr %>
      <%= f.label :brkstart %>
      <%= f.text_field :brkstart %>  
      <%= f.label :brkend %>
      <%= f.text_field :brkend %>   
  </div>
  <div class="span5">
      <%= f.label :mid %>
      <%= f.text_field :mid %>
      <%= f.label :primer %>
      <%= f.text_field :primer %>
      <%= f.label :adapter %>
      <%= f.text_field :adapter %>
      <%= f.label :breaksite %>
      <%= f.text_area :breaksite, rows: "4" %>
  </div>
  <div class="row">
    <div class="span2 offset5">
      <%= f.submit "Create Experiment", class: "btn btn-large btn-primary" %>
    </div>
</div>
<% end %>