<% provide(:title, @researcher.name) %>
<div class="row">
  <aside class="span2">
    <section>
      <h1>
        <%= gravatar_for @researcher %>
        <%= @researcher.name %>
      </h1>
    </section>
  </aside>
  <div class="span10">
    <% if @libraries.any? %>
      <h3>Libraries (<%= @libraries.count %>)</h3>
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Run</th>
            <th style="width: 30%">Description</th>
            <th>Genome</th>
            <th>BreakSite</th>
            <th>Cutter</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'libraries/researcher_library',
            collection: @libraries, as: 'library' %>
        </tbody>
      </table>
      <%= will_paginate @libraries %>
    <% end %>
  </div>
</div>